{{>admin-partials/adminSideBar}}
{{>admin-partials/adminHeader}}
<style>

    /* Define a common class for the buttons */
.common-button {
    width: 100px; /* You can adjust the width as needed to make the buttons the same size */
    display: inline-block; /* Ensures the buttons are displayed on the same line */
    margin-right: 10px; /* Add spacing between the buttons if desired */
}

</style>
        <section class="content-main">
         
            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">desctiption</th>
                                    <th scope="col">Offer</th>
                                    <th scope="col" class="text-center"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each findCategory}}
                                <tr>
                                    <td>{{slno @index}}</td>
                                    <td><b>{{this.title}}</b></td>
                                    <td>{{this.description}}</td>
                                    
                                    <td style="width: 190px;">
                                        <input type="text" id="offerValue{{this._id}}" data-category="{{this._id}}"  value="{{this.offer}}">

                                        </td>
                                   <td class="text-center"  style="width: 150px;">
                                    <button class="btn btn-success"  onclick="editOffer('{{this._id}}')">Save</button>
                                       {{!-- <a href="/get-edit-Offer?id={{this._id}}" class="btn btn-md rounded font-sm common-button">Save</a> --}}
                                       <br>
                                       <br>
                                         <button class="btn btn-sm btn-primary" onclick="removeOffer('{{this._id}}')" >Remove</button>
                                        {{!-- <a href="" class="btn btn-md rounded font-sm common-button">Remove</a> --}}
                                   </td>

                                  
                                </tr>
                                  {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
           
        </section> <!-- content-main end// -->
       


 


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <script>
        
        


 

       
        function editOffer(categoryId){

  let offerValue=document.getElementById('offerValue'+categoryId).value

            alert(offerValue)
   
   if(offerValue<=0){
                Swal.fire("want above Zero")
                return false
            }

            $.ajax({
                url:"/edit-category-Offer",
                method:'POST',
                data:{
                    categoryId:categoryId,
                    offerValue:offerValue
                },
                success:(response)=>{
                    Swal.fire(response.message)
                }
            })
     }

         
        
        


        function removeOffer(categoryId){
           
                 Swal.fire({
         title: "Are you sure you want to remove?",
        showCancelButton: true, // This option enables the cancel button
        confirmButtonText: "Yes, remove", // Text for the confirm (yes) button
        cancelButtonText: "Cancel", 
          }).then((result)=>{
            if(result.isConfirmed){
                    $.ajax({
                url:"/remove-category-Offer",
                method:'POST',
                data:{
                    categoryId:categoryId
                },
                success:(response)=>{
                    Swal.fire(response.message)
                    $('#offerValue').val('0');
                 
                }
            })
            }
          })
        
        }
    </script>