{{>admin-partials/adminSideBar}}
{{>admin-partials/adminHeader}}

        <section class="content-main">
         
            <div class="card mb-4">
                {{#if message}}
                           <div class="alert alert-success alert-dismissible fade show" role="alert">
                           {{message}}
                            <button type="button"    class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                             {{/if}}
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No:</th>
                                    <th scope="col">Coupon Code</th>
                                    <th scope="col">Min Purchase Amount</th>
                                    <th scope="col">Discount %</th>
                                    <th scope="col">Max Discovery Amount</th>
                                    <th scope="col">Expiry Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                   {{#each couponList}}
                             <tr>
                                <td>{{slno @index}}</td>
                                <td>{{this.couponCode}}</td>
                                <td>{{this.minPurchase}}</td>
                                <td>{{this.minDiscountPercentage}}</td>
                                <td>{{this.maxDiscountValue}}</td>
                                <td>{{ formatStandardTime  this.validity}}</td>
                                <td class="text-end">
                                    <a href="/get-Edit-coupon/{{this._id}}" class="btn btn-sm btn-primary">Edit</a>
                                        {{!-- <button class="btn-sm btn-primary"  onclick="EditCoupon('{{this._id}}')">Edit</button> --}}
                                    <button class="btn-sm btn-danger"  onclick="removeCoupon('{{this._id}}')">Remove</button>
                                </td>
                             </tr>
                               {{/each}}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            {{!-- <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div> --}}
        </section> <!-- content-main end// -->
       
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script>


    function removeCoupon(couponId){
      
        Swal.fire({
               title: 'Confirmation',
                text: 'Are you sure you want to remove this coupon?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'Cancel'
        }).then((result)=>{

              
              if(result.isConfirmed){
                   $.ajax({
                    url:"/remove-Coupon",
                    method:"DELETE",
                    data:{
                        couponId:couponId
                    },
                    success:(response)=>{
                         location.reload()
                    }
                })
            }

        })

     
    }
</script>